<div class="side-bar-header">
  <div class="header-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
    <%# レイアウト作成時 リンク先はとりあえず#にしておく(変更済み) %>
    <%# method: :get 今回はなんで書かない？ %>
  </div>
  <div class="create-room">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="rooms">
  <div class="room">
    <div class="room-name">
    <%# わざわざroom-name を設けるのはcssをわかりやすくするため？ %>
      <a href="#">techroom1</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">techroom1</a>
    </div>
  </div>
</div>